<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Club Points</title>
    <link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }}>
</head>
<body>
    <h2>Clubs Points</h2>
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    
    <table border="1">
        <thead>
            <tr>
                <th>Club Name</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            {% for club in clubs %}
            <tr>
                <td>{{ club.name }}</td>
                <td>{{ club.points }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div align="center">
        <a href="{{url_for('index')}}">back to the login page</a></h2>
    </div>
</body>
</html>