<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Summary | GÜDLFT Registration</title>
        <link rel="stylesheet" href={{ url_for('static',
        filename='css/style.css') }}>
    </head>
    <body>
        <h1>
            Welcome, {{club['email']}}
            <a href="{{url_for('logout')}}">Logout</a>
        </h1>
        {% with messages = get_flashed_messages() %} {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %} {% endwith %}
        <div>your club's available points : {{club['points']}}</div>
        <h2>Competitions:</h2>
        <ul>
            {% for comp in competitions %}
            <li>
                {{comp['name']}}<br />
                Date: {{comp['date']}}<br />
                Number of Places: {{comp['numberOfPlaces']}} {% if
                comp['numberOfPlaces']|int >0 %}
                <a
                    href="{{ url_for('book',competition=comp['name'],club=club['name']) }}"
                    >Book Places</a
                >
                {% endif %}
            </li>
            <hr />
            {% endfor %}
        </ul>
    </body>
</html>
